@import url(vendor/normalize.css);
@import url(vendor/fonts.css);

html,
body {
    height: 100%;
}
.root {
    font-size: 20px;
    height: 100%;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title {
    margin: 0;
    font-size: 2em;
}
.content {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.content__list {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.button {
    background: darkviolet;
    border-bottom: 4px solid indigo;
    color: white;
}
input {
    display: block;
    height: 50px;
    min-width: 30px;
    padding: 0 20px;
    margin-bottom: 10px;
    background: #E9EFF6;
    line-height: 40px;
    border-width: 0;
    border-radius: 20px;
    margin: 5px;
}
form {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
}
.column {
    border: 2px solid indigo;
    border-radius: 5px;
    padding: 5px;
    width: 200px;
    margin: 10px;
}
.column__title {
    font-size: 1.15em;
    width: 100%;
    text-align: center;
}
.card__text {
    font-size: 1em;
}
.card {
    position: relative;
    list-style: none;
    width: 170px;
    min-height: 30px;
    padding: 5px;
    background-color: darkmagenta;
    color: white;
    margin: 10px;
    border: 2px solid indigo;
    border-radius: 20px;
}